In [1]:
import pandas as pd

import surprise
from surprise import SVD
from surprise import Reader
from surprise import Dataset
from surprise import accuracy

from surprise.model_selection import train_test_split
from surprise.model_selection import LeaveOneOut
from surprise.model_selection import cross_validate
from surprise import KNNBaseline
from surprise import SVD, SVDpp, SlopeOne, NMF, NormalPredictor, KNNBaseline, KNNBasic, KNNWithMeans, KNNWithZScore, BaselineOnly, CoClustering

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ratings = pd.read_csv('cleaned_data/ratings.csv')
ratings.head()

   user  movie  rating
0  6040    858       4
1  6040    593       5
2  6040   2384       4
3  6040   1961       4
4  6040   2019       5

In [4]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings[['user', 'movie', 'rating']], reader)

In [5]:
#SVD algorithm - equivalent to Probabilistic Matrix Factorization
trainset, testset = train_test_split(data, test_size=0.25)
algo = SVD()
model = algo.fit(trainset)

In [6]:
def predict_(user,movie):
    
    #return prediction
    return model.predict(user,movie)[3]

In [9]:
#user 1875, movie 3794
predict_(1875,3793)

3.251747968437278

# example prediction

In [7]:
requests_data = pd.read_csv('data/requests.csv')
requests_data.columns=['user','movie']
requests_data.head()

   user  movie
0  4958   1924
1  4958   3264
2  4958   2634
3  4958   1407
4  4958   2399

In [20]:
lst_user=[]
for i in requests_data.user:
    lst_user.append(i)
    
lst_movie=[]
for i in requests_data.movie:
    lst_movie.append(i)

rating_lst=[]

for user,movie in zip(lst_user,lst_movie):
    rating_lst.append(predict_(user,movie))

In [24]:
import numpy as np
preds=np.array(rating_lst)

In [25]:
preds

array([2.25282393, 3.42147118, 2.90483215, ..., 3.8048923 , 3.61864942,
       3.61223985])

In [29]:
requests_data['rating']=preds

In [36]:
requests_data.drop('ratings',axis=1)

        user  movie    rating
0       4958   1924  2.252824
1       4958   3264  3.421471
2       4958   2634  2.904832
3       4958   1407  3.774237
4       4958   2399  2.858368
...      ...    ...       ...
200204  1875   3793  3.251748
200205  1875   2160  3.360053
200206  1875   1035  3.804892
200207  1875   1580  3.618649
200208  1875    589  3.612240

[200209 rows x 3 columns]

In [37]:
requests_data

        user  movie   ratings    rating
0       4958   1924  2.252824  2.252824
1       4958   3264  3.421471  3.421471
2       4958   2634  2.904832  2.904832
3       4958   1407  3.774237  3.774237
4       4958   2399  2.858368  2.858368
...      ...    ...       ...       ...
200204  1875   3793  3.251748  3.251748
200205  1875   2160  3.360053  3.360053
200206  1875   1035  3.804892  3.804892
200207  1875   1580  3.618649  3.618649
200208  1875    589  3.612240  3.612240

[200209 rows x 4 columns]

In [34]:
requests_data.to_csv('data/svd-test-ratings.csv')